mat-card{
  text-align: center;
  margin: 10px;
}

.all{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 1000px) {
  .all{
    margin: 10px;
  }
}

.topicactive{
  border-style: solid;
  border-color: goldenrod;
  width: 200px;
}

.topicdone{
  border-style: solid;
  border-color: goldenrod;
  width: 200px;
  background-color: green;
}

.topicnonactive{
  border-style: solid;
  border-color: darkred;
  width: 200px;
  background-color: slategrey;
}

.levelcard{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iconhappy{
  max-height: 2rem;
}

.description{
  max-width: 800px;
  margin-top: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
