<mat-card class="all" >
  <div>
    Level: 1
  </div>
  <div class="levelcard">
    <span>
    <mat-card class="topicdone" routerLink="/demovar">
      <span>Was ist Java?</span><img class="iconhappy" src="../../../assets/imagesandgifs/michahappyicon.gif"/>
    </mat-card>
  </span>
    <span>
     <mat-card class="topicactive">
        <span>Variablen</span><img class="iconhappy" src="../../../assets/imagesandgifs/michasadicon.gif"/>
    </mat-card>
  </span>
    <span>
     <mat-card class="topicactive">
        <span>String</span><img class="iconhappy" src="../../../assets/imagesandgifs/michasadicon.gif"/>
    </mat-card>
  </span>
  </div>
</mat-card>

<mat-card class="all" >
  <div>
    Level: 2
  </div>
  <div class="levelcard">
    <span class="topic">
    <mat-card class="topicnonactive">
      <div>1</div>
      <mat-icon aria-label="Side nav toggle icon">lock</mat-icon>
    </mat-card>
  </span>
    <span class="topic">
    <mat-card class="topicnonactive">
      <div>1</div>
      <mat-icon aria-label="Side nav toggle icon">lock</mat-icon>
    </mat-card>
  </span>

  </div>
</mat-card>

<div class="description">
<div>Hier siehst du eine Übersicht über das Spielfeld deines Lernprojektes (Java). Anfangs ist nur Level eins
  freigeschaltet welches drei Themen umfasst. Deine Aufgabe ist es das Männchen zum Jubeln zu bringen indem du
den Inhalt eines Themas durchläufst und am Ende eine kleine Prüfung bestehst. Wenn die Prüfung bestanden ist, dann freut
sich dein Männchen. Wenn du alle Prüfungen eines Levels erfolgreich absolviert hast schaltet sich das nächste Level frei.
</div><div>
  Zum anschauen kannst du auf "Was ist Java?" klicken und dir die Themenstruktur anschauen. Wenn wir deine Neugier geweckt
  haben dann registrier dich doch und teste uns und dich.</div>

</div>

