<!--<div style="text-align:center" class="sessionuser">-->
<!--  <app-session-user></app-session-user>-->
<!--</div>-->
<div *ngIf="sessionUser === null">

<div style="text-align:center" class="loginform">
  <form *ngIf="sessionUser === null" (ngSubmit)="login()">
    <div class="mdc-text-field mdc-text-field--outlined">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-user-input" class="mdc-floating-label">Nutzername:</label>
        </div>
        <div>
          <input
            id="text-field-user-input" type="text" class="mdc-text-field__input" aria-describedby="emailHelp"
            placeholder="Nutzername" name="username" [(ngModel)]="loginData.username">
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-password-input" class="mdc-floating-label">Password:</label>
        </div>
        <div>
          <input
            id="text-field-password-input" type="password" class="mdc-text-field__input" name="password"
            placeholder="Passwort"
            [(ngModel)]="loginData.password"></div>

        <div class="mdc-notched-outline__trailing"></div>
        <button class="matlogin" type="submit" mat-raised-button color=primary >Login</button>
        <br>
        <button class="matregister" mat-raised-button color="primary" routerLink="/registry">Registrieren</button>

      </div>
    </div>
  </form>
</div>


</div>
<div *ngIf="sessionUser !== null">
  <app-category></app-category>
</div>
