.levelcard{
  padding-bottom: 15px;
  margin: 1rem 20px;
  height: auto;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.topiccard{
  border: goldenrod;
  border-style: solid;
  margin: 10px;
  text-align: center;
}

.iconcheck{
  color: forestgreen;
  font-size: 16px;
}

.type{
  color: goldenrod;
}

@media (max-width: 1000px) {
  .levelcard{
    margin: 10px;
  }
}
