<mat-card *ngFor="let act of modules.active" class="levelcard">
  <mat-card [routerLink]="['/content', act.id]" class="topiccard">
    {{act.name}}
  </mat-card>
  <span *ngIf="act.type === 'text'" class="type">Text</span>
  <span *ngIf="act.type === 'image'" class="type">Bild</span>
  <span *ngIf="act.type === 'video'" class="type">Video</span>
</mat-card>
<mat-card class="levelcard">
  <mat-card [routerLink]="['/exam', id]" class="topiccard">
    Prüfung
  </mat-card>
</mat-card>
