.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logobutton{
  font-size: 3rem;
  font-family: "Berlin Sans FB";
}

.logo{

  width: 3%;
}
