<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/gettingstarted">Getting started</a>
      <a mat-list-item routerLink="/demo">Demo</a>
      <a mat-list-item *ngIf="sessionUser !== null" routerLink="#">Profil (in Arbeit)</a>
      <a mat-list-item routerLink="#">Hilfe/FAQ (in Arbeit)</a>
      <a mat-list-item routerLink="/impressum">Impressum</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="logo" src="../../../assets/imagesandgifs/logo.png"/>
      <button class="logobutton" mat-button routerLink="/">Learn IT</button>
      <span class="ml-auto">
      <button mat-raised-button *ngIf="sessionUser == null" routerLink="/" class="mr-3">Login</button>
      <button mat-raised-button *ngIf="sessionUser == null" routerLink="/registry">Registrieren</button>
      <button mat-raised-button *ngIf="sessionUser !== null" (click)="securityService.logout()" routerLink="/" class="ml-auto">Logout</button>
        </span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
