.questioncard {
  margin: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #174f50;
  box-shadow: none;
}

.questioncontentcard {
  border-style: dashed;
  border-color: goldenrod;
  text-align: center;
}

.sendbutton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.labeltext{
  text-align: center;
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
