<mat-card mat-card-title class="labeltext">
<label>Prüfung</label>
</mat-card>
  <mat-card class="questioncard">
    <mat-radio-group
      *ngFor="let question of questions"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="comAnswer[questions.indexOf(question)]">
      <mat-card class="questioncontentcard">
        {{question.content}}
        <mat-card-content>
          <mat-radio-button class="d-inline" *ngFor="let answer of question.answers" [value]="answer">
            {{answer.content}}
          </mat-radio-button>
        </mat-card-content>
      </mat-card>
    </mat-radio-group>
  </mat-card>

<div class="sendbutton">
  <button mat-raised-button value="Done" (click)="checkAnswers()">Absenden</button>
</div>









