<mat-card style="text-align: center">
  <div>Prüfung</div>
</mat-card>
<mat-card>
  <mat-card class="levelcard" style="text-align: center">
    <div>IDE</div>
    <div></div>
    <div class="description">Video</div>
  </mat-card>
</mat-card>
<mat-card>
  <mat-card class="levelcard" style="text-align: center">
    <div>JVM</div>
    <div></div>
    <div class="description">Bild</div>
  </mat-card>
</mat-card>
<mat-card>
  <mat-card class="levelcard" style="text-align: center">
    <div>Was ist Java?</div>
    <div>Einführung</div>
    <div class="description">Text</div>
  </mat-card>
</mat-card>
