<p>registry works!</p>
<div style="text-align:center" class="registryform">
    <div class="mdc-text-field mdc-text-field--outlined">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__notch">
          <label for="text-field-username-input" class="mdc-floating-label">Username:</label>
        </div>
        <div>
          <input
            id="text-field-username-input" type="text" class="mdc-text-field__input" placeholder="Nutzername"
            name="userName" [(ngModel)]="newUserDTO.username">
        </div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-email" class="mdc-floating-label mt-2">E-Mail:</label>
        </div>
        <div>
          <input
            id="text-field-email" type="text" class="mdc-text-field__input" name="email" placeholder="E-Mail" [(ngModel)]="newUserDTO.email">
        </div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__notch">
          <label for="text-field-password-input" class="mdc-floating-label mt-2">Password:</label>
        </div>
        <div>
          <input
            id="text-field-password-input" type="password" class="mdc-text-field__input" name="password"
            placeholder="Passwort" [(ngModel)]="newUserDTO.password1"></div>
        <div class="mdc-notched-outline__notch">
          <label for="text-field-password-repeat" class="mdc-floating-label mt-2">Password wiederholen:</label>
        </div>
        <div>
          <input
            id="text-field-password-repeat" type="password" class="mdc-text-field__input" name="password"
            placeholder="Passwort wiederholen" [(ngModel)]="newUserDTO.password2"></div>
        <br>
        <button class="matregister" mat-raised-button color="primary" *ngIf="newUserDTO.password2===newUserDTO.password1" routerLink="/" (click)="register()">Registrieren</button>
        <button class="matregister" mat-raised-button color="primary" *ngIf="newUserDTO.password2!==newUserDTO.password1" routerLink="/registry" (click)="register()">Registrieren</button>
      </div>
    </div>
</div>

