img{
  max-width: 500px;
}
.carouseldemo{
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.inputtext {
  height: 350px;
}

@media (min-width: 1000px){
  img{
    max-width: 300px;
    margin-bottom: 150px;
  }

  .inputtext {
    font-size: 24px;
    height: 350px;
  }
}
