<ngb-carousel class="carouseldemo" *ngIf="img">
  <ng-template ngbSlide>
    <div>
      <img [src]="img[0]" class="w-100" alt="Random first slide">
    </div>
    <div class="carousel-caption inputtext">
      <h3>Du willst JAVA lernen?</h3>
      <p>Du hast Lust ein bisschen hinter die Programme schauen und willst wissen wie diese entstehen?
      Du hast dich schon immer gefragt warum ein Taschenrechner rechnen kann oder ein Programm tut was es soll?
      Und das möchtest du dann auch selber umsetzen?</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img [src]="img[1]" class="w-100" alt="Random second slide">
    </div>
    <div class="carousel-caption inputtext">
      <h3>Weisst aber nicht wie?</h3>
      <p>Das macht dich sehr traurig weil du es unbedingt willst? Für eine Ausbildung oder Uni hast du keine Zeit?
        Und auch Youtube Tutorials bringen dich nicht weiter weil sie zu lang oder unverständlich sind und du gerne auch
        nebenbei lernen möchtest?</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img [src]="img[2]" class="w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption inputtext">
      <h3>Dann bist du hier richtig</h3>
      <p>Denn hier bringst du dir JAVA selber bei. Bei uns hast du die Möglichkeit dich über verschiedene Level und Module
      selber in deinem Tempo alles zu lernen was man braucht. Wir geben dir die Möglichkeit über verschiedene Materialien wie Bilder, Texte
      und ausgewählten kurzen Videos selber zu bestimmen wann und wieviel du lernst.</p>
    </div>
  </ng-template>
</ngb-carousel>
