<div class="contentcard">
<mat-card *ngIf="module.type === 'text'" class="example-card">
  <mat-card-header>
    <mat-card-title >{{module.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="text-align: left; white-space: pre-wrap;">
      {{module.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="backClick()">Verstanden</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="module.type ==='image'" class="example-card">
  <mat-card-header>
    <mat-card-title>{{module.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/imagesandgifs/{{module.vblink}}" alt="Foto">
  <mat-card-content>
    <p style="text-align: left; white-space: pre-wrap;">
      {{module.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="backClick()">Verstanden</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="module.type ==='video'" class="example-card">
  <mat-card-header>
    <mat-card-title>{{module.name}}</mat-card-title>
  </mat-card-header>
  <iframe src="https://www.youtube-nocookie.com/embed/VPz7CBiYqWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <mat-card-content>
    <p style="text-align: left; white-space: pre-wrap;">
      {{module.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="backClick()">Verstanden</button>
  </mat-card-actions>
</mat-card>
</div>
