.contentcard{
  display: flex;
  justify-content: center;
}

.example-card {
  width: 800px;
  margin: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 900px) {
  .contentcard{
    margin-top: 50px;
  }
}
