<mat-card class="all" *ngFor="let lvl of levels">
  <div>
    Level: {{lvl}}
  </div>
  <div class="levelcard">
  <span class="topic" *ngFor="let act of topics.active">
     <mat-card *ngIf="act.level == lvl" [routerLink]="['/modules', act.id]" class="topicactive">
        <span>{{act.name}}</span><img class="iconhappy" src="../../../assets/imagesandgifs/michasadicon.gif"/>
    </mat-card>
  </span>
  <span class="topic" *ngFor="let done of topics.done">
    <mat-card *ngIf="done.level == lvl" [routerLink]="['/modules', done.id]" class="topicdone">
      <span>{{done.name}}</span><img class="iconhappy" src="../../../assets/imagesandgifs/michahappyicon.gif"/>
    </mat-card>
  </span>
    <span class="topic" *ngFor="let done of topics.nonactive">
    <mat-card *ngIf="done.level == lvl" class="topicnonactive">
      <div>{{done.name}}</div>
      <mat-icon aria-label="Side nav toggle icon">lock</mat-icon>
    </mat-card>
  </span>
  </div>
</mat-card>

