.content{
  text-align: center;
  margin: 10px;
}



.categorycard{
  max-width: 600px;
  text-align: center;
  margin: 10px 20px;

  margin-right: auto;
  margin-left: auto;
}

.image {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  width: 200px;
  height: 120px;
}

/* resize images */
.image img {
  width: 100%;
  height: auto;
}

.welcome{
  font-family: "Berlin Sans FB", serif;
  margin-top: 50px;
}
