<div *ngIf="sessionUser !== null" class="content">
  <h1 class="welcome">Moin {{ sessionUser.username }}</h1>
  <div class="image"><img [src]="img[0]"></div>
  <div class="cardformat" *ngFor="let category of categories">
    <mat-card [routerLink]="['/topic', category.id]" class="categorycard">
      <div>
        {{category.name}}
      </div>
    </mat-card>
  </div>
</div>
